body {
    background-color: darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    text-align: center;
}
.header img{
    width: 125px;
    Height: 125px;
    float: left;
    margin-left: 50px;
    margin-top: 27px;

}
.header h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 25px;
    margin-left: 10px;
    margin-right: 12%;
    background-color: darkkhaki;
    Float: left;
}

.header ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: darkkhaki;
    
}
  
.header li {
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.header li a:hover {
    background-color: plum;
}

.column {
    text-align: center;
    float: left;
    width: 47%;
    padding: 0px;
    border: solid black 3px;
    margin: 15px;
    background-color: snow;
  }
.column:active {
    background-color: rgb(231, 28, 214);
}

  .column h1 {
      text-align: center;
  }
  .column img {
      width: 190px;
      height: 150px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    text-align: cente3r;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 5px;
  }

  .footer img {
      width: 25px;
      height: 25px;
  }

  .contact {
      text-align: center;
  }

  form.align{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  textarea.align{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  input.align{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    width: 75px;
  }
  .about{
      margin: 5%;
      display: inline;
  }
  .about img {
      float: left;
      margin-left: 5%;
      margin-right: 3%;
      width: 180px;
      height: auto;
  }
  .about img:after{
      float: right;
  }
  .about p{
      margin-bottom: 15px;
  }

  .shopcolumn {
    text-align: center;
    float: left;
    width: 22.5%;
    height: 350px;
    padding: 0px;
    border: solid black 3px;
    margin: 15px;
    background-color: snow;
  }

  .shopcolumn img {
    text-align: center;
    width: auto;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .shoprow:after {
    content: "";
    display: table;
    clear: both;
  }

  .shopbutton {
      padding: 5px;
      background-color: lightgoldenrodyellow;
  }
  .shopbutton:active {
      background-color: lightseagreen;
  }